*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
cmake-build-*
build-*
Makefile
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.pdb
*.lib
*.a
*.zip
*.7z

.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.suo
*.sdf
*.vcxproj.user